# Data Cleaning and EDA

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

## Importing Data

In [9]:
go_tracks = pd.read_csv("go_tracks.csv", index_col="id") 
go_track_trackspoints = pd.read_csv("go_track_trackspoints.csv", index_col="id")

In [10]:
go_tracks.head()

,id_android,speed,time,distance,rating,rating_bus,rating_weather,car_or_bus,linha
id,,,,,,,,,
1,0,19.210586,0.138049,2.652,3,0,0,1,NaN
2,0,30.848229,0.171485,5.290,3,0,0,1,NaN
3,1,13.560101,0.067699,0.918,3,0,0,2,NaN
4,1,19.766679,0.389544,7.700,3,0,0,2,NaN
8,0,25.807401,0.154801,3.995,2,0,0,1,NaN

In [12]:
go_tracks.shape

(163, 9)

In [14]:
go_tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163 entries, 1 to 38092
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_android      163 non-null    int64
 1   speed           163 non-null    float64
 2   time            163 non-null    float64
 3   distance        163 non-null    float64
 4   rating          163 non-null    int64
 5   rating_bus      163 non-null    int64
 6   rating_weather  163 non-null    int64
 7   car_or_bus      163 non-null    int64
 8   linha           80 non-null     object
dtypes: float64(3), int64(5), object(1)
memory usage: 12.7+ KB

In [11]:
go_track_trackspoints.head()

     latitude  longitude  track_id                 time
id
1  -10.939341 -37.062742         1  2014-09-13 07:24:32
2  -10.939341 -37.062742         1  2014-09-13 07:24:37
3  -10.939324 -37.062765         1  2014-09-13 07:24:42
4  -10.939211 -37.062843         1  2014-09-13 07:24:47
5  -10.938939 -37.062879         1  2014-09-13 07:24:53

In [13]:
go_track_trackspoints.shape

(18107, 4)

In [15]:
go_track_trackspoints.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18107 entries, 1 to 19569
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   18107 non-null  float64
 1   longitude  18107 non-null  float64
 2   track_id   18107 non-null  int64
 3   time       18107 non-null  object
dtypes: float64(2), int64(1), object(1)
memory usage: 707.3+ KB

In [16]:
go_track_trackspoints['time'] = pd.to_datetime(go_track_trackspoints['time'])

In [19]:
print(go_track_trackspoints['time'].min())
print(go_track_trackspoints['time'].max())

2014-09-13 07:24:32
2016-01-19 13:01:47

Voy a revisar cuántos valores de track_id existen

In [30]:
go_track_trackspoints['track_id'].value_counts()

30       646
31       646
41       433
37962    410
26       401
        ...
37993      1
38030      1
71         1
37998      1
37982      1
Name: track_id, Length: 163, dtype: int64

### Creation of DataFrame with important features

I'm going to extract some important information from the go_track_trackspoints dataset and create a dataframe with it. Then, i'll merge both datasets on the track_id column

In [33]:
index = list(set(go_track_trackspoints["track_id"]))

In [34]:
gtt_features = pd.DataFrame(index=index)

In [35]:
gtt_features

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 37945, 58, 61, 37949, 63, 37951, 65, 37950, 67, 37953, 37954, 70, 71, 37955, 37956, 37957, 37960, 37961, 37962, 78, 37964, 37965, 37967, 37969, 37971, 37972, 37973, 37979, 37982, 37983, 99, 37989, 37990, 37992, 37993, 37995, 37996, 37997, 37998, 38000, 38001, 38002, 38003, 38012, 38013, 38015, 128, 38016, 38017, 131, 132, 133, 134, ...]

[163 rows x 0 columns]

In [41]:
gtt_features['travel_duration'] = (go_track_trackspoints.groupby('track_id')['time'].max() - go_track_trackspoints.groupby('track_id')['time'].min()).dt.seconds / 60
print(gtt_features['travel_duration'])

1         8.266667
2        10.216667
3         3.900000
4        27.183333
8         1.733333
           ...
38019    30.400000
38020    11.500000
38021    11.500000
38022    20.983333
38030     0.000000
Name: travel_duration, Length: 163, dtype: float64

In [ ]:
def euclidian_distance()